.accordion {
  margin: auto;
  padding: 0px 16px;
  margin-bottom: 64px;
}

.base-title {
  font-weight: 600;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 29px;
  font-size: 16px;
}

.ac .accordion-faq {
  border: none;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  padding-top: 22px;
  margin: 0;
}

.faq-element-two:last-child {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.ac .faq-btn {
  margin: 0px;
  padding: 0px;
  width: 34px;
  height: 34px;
}

.ac .faq-title-one,
.ac .faq-title-two {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-weight: 600;
  font-size: 20px;
  color: #fafafa;
}

.ac .faq-content-one,
.ac .faq-content-two {
  color: rgba(250, 250, 250, 0.6);
  padding: 0;
  padding-top: 16px;
  width: 100%;
}

.ac .faq-description {
  padding-left: 0px;
}

.faq-element-one.is-active svg,
.faq-element-two.is-active svg {
  transform: rotate(180deg);
}

/* tablet version */

@media only screen and (min-width: 768px) {
  .accordion {
    padding: 48px 32px;
    margin-bottom: 47px;
  }

  .faq-title-one,
  .faq-title-two {
    max-height: 100px;
  }

  .faq-title-one {
    padding-top: 12px;
  }

  .faq-element-one:nth-child(3) .faq-title-one {
    padding-top: 2px;
  }

  .faq-element-one:nth-child(2) .faq-title-one {
    padding-top: 24px;
  }

  .faq-element-two:nth-child(1) .faq-title-two {
    padding-top: 2px;
  }

  .faq-element-two:nth-child(2) .faq-title-two,
  .faq-element-two:nth-child(3) .faq-title-two {
    padding-top: 8px;
  }

  .faq-element-two:last-child .faq-title-two {
    gap: 179px;
  }

  .ac .faq-content-one,
  .ac .faq-content-two {
    width: 656px;
    padding-bottom: 0px;
  }

  .icon-faq-up {
    width: 40px;
    height: 40px;
  }

  .ac .faq-btn {
    width: 40px;
    height: 40px;
  }
}

/* laptop version */

@media only screen and (min-width: 1440px) {
  .accordion {
    padding: 82px 32px;
    margin-bottom: 80px;
  }

  .back {
    display: flex;
  }

  .faq-element-one {
    width: 688px;
  }

  .faq-element-one:first-child .faq-title-one {
    gap: 0px;
  }

  .faq-list-one {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }

  .faq-title-one {
    margin-right: 30px;
  }

  .faq-title-two {
    padding-top: 100px;
    margin-left: 30px;
  }

  .faq-content-two {
    margin-left: 30px;
  }

  .wrap {
    align-items: center;
  }

  .faq-element-one:nth-child(2) .faq-title-one {
    padding-top: 12px;
  }

  .faq-element-one:nth-child(3) .faq-title-one {
    padding-top: 10px;
    height: 72px;
  }

  .faq-element-one:nth-child(3) .faq-content-one {
    padding-top: 0px;
  }

  .faq-element-two:nth-child(1) .faq-title-two,
  .faq-element-two:nth-child(2) .faq-title-two,
  .faq-element-two:nth-child(3) .faq-title-two {
    padding-top: 12px;
  }

  .ac .faq-description {
    margin-bottom: 28px;
  }
}
