.hero {
  background-image: url(../../img/hero-bg/Hero-bg-tell1@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 281px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-position: top left;
  background-size: 83%;
}
.container {
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../img/hero-bg/Hero-bg-tell2@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../../img/hero-bg/Hero-bg-tablet1@1x.png);
    padding-top: 300px;
    background-size: 77%;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../img/hero-bg/Hero-bg-tablet2@2x.png);
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: url(../../img/hero-bg/Hero-bg-descktop1@1x.png);
    background-size: 50%;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../img/hero-bg/Hero-bg-descktop2@2x.png);
  }
}

.hero-title {
  font-weight: 500;
  font-size: 12.8vw;
  line-height: 50px;
  text-transform: uppercase;
  color: #fafafa;
  margin-bottom: 213px;
}

.hero-title:hover {
  text-shadow: 1px 1px 3px rgba(6, 6, 6, 0.8);
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 90px;
    line-height: 90px;
    margin-bottom: 187px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    margin-bottom: 243px;
    padding-left: 146px;
    padding-right: 146px;
  }
}

.social-list {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 32px;
  flex-wrap: wrap;
  row-gap: 8px;
}
@media only screen and (min-width: 375px) {
  .social-list {
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 768px) {
  .social-list {
    gap: 8px;
    justify-content: flex-end;
  }
}

.social-link {
  position: relative;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  fill: #fafafa;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover {
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  background-color: rgba(250, 250, 250, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .social-link {
    width: 55px;
    height: 55px;
  }
}

.social-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.social-link svg {
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .social-link svg {
    width: 16px;
    height: 16px;
  }
}

.hero-email {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  width: 178px;
  height: 37px;
}

.hero-email:hover {
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: rgba(250, 250, 250, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .hero-email {
    font-size: 16px;
    padding: 18px 24px;
    width: 223px;
    height: 55px;
  }
}
