.reviews {
  margin-bottom: 64px;
}

.reviews .container {
  overflow: hidden;
}

.reviews-title {
  color: rgba(250, 250, 250, 0.4);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02rem;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.gallery-item.swiper-slide {
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  height: 302px;
  width: 343px;
  padding: 32px 24px;
  overflow: scroll;
}

.reviews-list {
  margin-bottom: 32px;
}
.review-author {
  color: rgb(250, 250, 250);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02rem;
  margin-bottom: 8px;
}

.review-text {
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02rem;
}

.gallery-image {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.swiper-btn-next,
.swiper-btn-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;

  /* border-radius: 60px;
  width: 52px;
  height: 52px;
  border: 1px solid rgba(250, 250, 250, 0.5); */
}

.swiper-btn-next.swiper-button-disabled,
.swiper-btn-prev.swiper-button-disabled {
  opacity: 0.2;
}

.arr-btn-left,
.arr-btn-right {
  fill: transparent;
  background-color: transparent;
  stroke: #fafafa;
  width: 52px;
  height: 52px;
}

@media screen and (min-width: 768px) {
  .reviews {
    margin-top: 32px;
    margin-bottom: 96px;
  }

  .reviews-list {
    display: flex;
    gap: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .gallery-item {
    width: 332px;
  }

  .reviews {
    margin-bottom: 164px;
  }
}
