.work-together {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-together-itro {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .work-together-itro {
    gap: 20px;
  }
}

.work-together-logo {
  width: 44px;
  height: 44px;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .work-together-logo {
    width: 70px;
    height: 70px;
    margin-bottom: 7px;
  }
}

.work-together-title {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.work-together-title-span {
  color: #ed3b44;
}

@media only screen and (min-width: 768px) {
  .work-together-title {
    font-size: 64px;
  }
}

.work-together-form {
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .work-together-form {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
}

.form-item {
  outline: none;
}
.label-email,
.label-comment {
  position: relative;
}

.work-together-input {
  width: 100%;
  height: 44px;
  background: #1c1d20;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  text-transform: initial;
  color: #fafafa;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  padding-bottom: 20px;
  resize: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}

.work-together-input:focus-visible {
  outline: none;
}

.work-together-input:focus {
  border-bottom: 1px solid #fff;
}

.work-together-input._error {
  border-bottom: 1px solid #ed3b44;
}

._error {
  font-family: 'Inter Tight';
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.work-together-input._approved {
  border-bottom: 1px solid #3cbc81;
}

._approved {
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fafafa;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

@media screen and (min-width: 375px) {
  .work-together-input {
    width: 343px;
  }
}
@media only screen and (min-width: 768px) {
  .work-together-input {
    width: 245px;
    height: 44px;
  }
}

@media only screen and (min-width: 1440px) {
  .work-together-input {
    width: 390px;
    height: 44px;
  }
}

.worwk-together-adress {
  margin-top: 74px;
  padding-bottom: 42px;
}

@media only screen and (min-width: 768px) {
  .worwk-together-adress {
    margin-top: 36px;
    padding-bottom: 187px;
  }
}
.worwk-together-adress-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

@media only screen and (min-width: 768px) {
  .worwk-together-adress-list {
    gap: 8px;
  }
}

.worwk-together-adress-link {
  color: #fafafa;
  font-size: 14px;
  font-style: normal;
  padding: 6px 8px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

@media screen and (min-width: 375px) {
  .worwk-together-adress-link {
    padding: 10px 12px;
  }
}

.worwk-together-adress-link:hover,
.worwk-together-adress-link:focus {
  border: 1px solid #fafafa;
  cursor: pointer;
  background-color: rgba(250, 250, 250, 0.1);
}

@media screen and (min-width: 768px) {
  .worwk-together-adress-link {
    font-size: 16px;
    padding: 18px 32px;
  }
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 16, 0.6);
  overflow: auto;
}

.modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  width: 343px;
  background: #1c1d20;
}

.modal-title {
  color: #fafafa;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; /* 150% */
  letter-spacing: -0.4px;
  margin-bottom: 16px;
}

.modal-message {
  color: rgba(250, 250, 250, 0.6);
  text-align: center;
  letter-spacing: -0.5px;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  stroke: #fafafa;
}

.close:hover,
.close:focus {
  cursor: pointer;
  scale: 1.1;
}

.close-svg {
  fill: #fff;
}

@media only screen and (min-width: 768px) {
  .modal-content {
    width: 492px;
    padding: 64px;
  }
  .modal-title {
    font-size: 18px;
  }
}
.success,
.successComment {
  color: #3cbc81;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.28px;
  opacity: 0;
  transition: all ease-in 300ms;
  position: absolute;
  left: 0;
  top: 44px;
  margin-top: 4px;
}

.invalid,
.invalidComment {
  color: #e74a3b;
  font-family: 'Inter Tight';
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.28px;
  opacity: 0;
  transition: all ease-in 300ms;
  position: absolute;
  left: 0;
  top: 44px;
  margin-top: 4px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #ed3b44;
  border-radius: 50%;
  border: none;
  color: #fafafa;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {
  .square {
    width: 150px;
    height: 150px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .square {
    margin-left: 54px;
  }
}

.square:hover div:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: rgba(224, 55, 63);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.8s;
  animation: animate 6s linear infinite;
  box-shadow: rgba(224, 55, 63, 0.56) 0px 22px 70px 4px;
}

.square div:nth-child(1) {
  border: none;
  background: rgba(220, 55, 63);
}

.square:hover div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: rgba(224, 55, 63);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.8s;
  animation: animate2 4s linear infinite;
  box-shadow: rgba(224, 55, 63, 0.56) 0px 22px 70px 4px;
}

.square div:nth-child(2) {
  border: none;
  background: rgba(229, 20, 20);
}

.square:hover div:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: rgba(224, 55, 63);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.8s;
  animation: animate 10s linear infinite;
  box-shadow: rgba(224, 55, 63, 0.56) 0px 22px 70px 4px;
}

.square div:nth-child(3) {
  border: none;
  background: rgba(229, 20, 20);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.work-together-btn {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  background-color: #ed3b44;
  border-radius: 50%;
  border: none;
  color: #fafafa;
  position: relative;
}

.work-together-btn:hover,
.work-together-btn:focus {
  cursor: pointer;
  scale: 1.1;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 768px) {
  .work-together-btn {
    width: 150px;
    height: 150px;
    margin-top: 0;
  }
}
