<section class="covers">
  <div class="container">
    <h2 class="covers-title visually-hidden">Ordered projects</h2>
    <div class="content">
      <div class="projects-list-wrapper">
        <ul class="projects-list">
          <li class="project-item">
            <img
              loading="lazy"
              class="project-item-img"
              srcset="
                ../img/section-covers-img/1-@1x.png 1x,
                ../img/section-covers-img/1-@2x.png 2x
              "
              src="../img/section-covers-img/1-@1x.png"
              alt="project-hero-view"
            />
            <img
              loading="lazy"
              class="project-item-img"
              srcset="
                ../img/section-covers-img/2-@1x.png 1x,
                ../img/section-covers-img/2-@2x.png 2x
              "
              src="../img/section-covers-img/2-@1x.png"
              alt="project-hero-view"
            />
            <img
              loading="lazy"
              class="project-item-img"
              srcset="
                ../img/section-covers-img/3-@1x.png 1x,
                ../img/section-covers-img/3-@2x.png 2x
              "
              src="../img/section-covers-img/3-@1x.png"
              alt="project-hero-view"
            />
            <img
              loading="lazy"
              class="project-item-img"
              srcset="
                ../img/section-covers-img/4-@1x.png 1x,
                ../img/section-covers-img/4-@2x.png 2x
              "
              src="../img/section-covers-img/4-@1x.png"
              alt="project-hero-view"
            />
          </li>
          <li class="project-item">
            <img
              loading="lazy"
              class="project-item-img"
              srcset="
                ../img/section-covers-img/5-@1x.png 1x,
                ../img/section-covers-img/5-@2x.png 2x
              "
              src="../img/section-covers-img/5-@1x.png"
              alt="project-hero-view"
            />
            <img
              loading="lazy"
              class="project-item-img"
              srcset="
                ../img/section-covers-img/6-@1x.png 1x,
                ../img/section-covers-img/6-@2x.png 2x
              "
              src="../img/section-covers-img/6-@1x.png"
              alt="project-hero-view"
            />
            <img
              loading="lazy"
              class="project-item-img"
              srcset="
                ../img/section-covers-img/7-@1x.png 1x,
                ../img/section-covers-img/7-@2x.png 2x
              "
              src="../img/section-covers-img/7-@1x.png"
              alt="project-hero-view"
            />
          </li>
          <li class="project-item">
            <img
              loading="lazy"
              class="project-item-img"
              srcset="
                ../img/section-covers-img/8-@1x.png 1x,
                ../img/section-covers-img/8-@2x.png 2x
              "
              src="../img/section-covers-img/8-@1x.png"
              alt="project-hero-view"
            />
            <img
              loading="lazy"
              class="project-item-img"
              srcset="
                ../img/section-covers-img/9-@1x.png 1x,
                ../img/section-covers-img/9-@2x.png 2x
              "
              src="../img/section-covers-img/9-@1x.png"
              alt="project-hero-view"
            />
            <img
              loading="lazy"
              class="project-item-img"
              srcset="
                ../img/section-covers-img/10-@1x.png 1x,
                ../img/section-covers-img/10-@2x.png 2x
              "
              src="../img/section-covers-img/10-@1x.png"
              alt="project-hero-view"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
