<section class="covers" id="covers">
  <div class="container">
    <h2 class="covers-title visually-hidden">Ordered projects</h2>
    <div class="content">
      <ul class="projects-list">
        <li class="project-item">
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/1-@1x.webp 1x,
              ./img/section-covers-img/1-@2x.webp 2x
            "
            src="./img/section-covers-img/1-@1x.webp"
            alt="project-hero-view"
          />
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/2-@1x.webp 1x,
              ./img/section-covers-img/2-@2x.webp 2x
            "
            src="./img/section-covers-img/2-@1x.webp"
            alt="project-hero-view"
          />
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/3-@1x.webp 1x,
              ./img/section-covers-img/3-@2x.webp 2x
            "
            src="./img/section-covers-img/3-@1x.webp"
            alt="project-hero-view"
          />
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/1-@1x.webp 1x,
              ./img/section-covers-img/1-@2x.webp 2x
            "
            src="./img/section-covers-img/1-@1x.webp"
            alt="project-hero-view"
          />
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/2-@1x.webp 1x,
              ./img/section-covers-img/2-@2x.webp 2x
            "
            src="./img/section-covers-img/2-@1x.webp"
            alt="project-hero-view"
          />
        </li>
        <li class="project-item">
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/7-@1x.webp 1x,
              ./img/section-covers-img/7-@2x.webp 2x
            "
            src="./img/section-covers-img/7-@1x.webp"
            alt="project-hero-view"
          />
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/6-@1x.webp 1x,
              ./img/section-covers-img/6-@2x.webp 2x
            "
            src="./img/section-covers-img/6-@1x.webp"
            alt="project-hero-view"
          />
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/8-@1x.webp 1x,
              ./img/section-covers-img/8-@2x.webp 2x
            "
            src="./img/section-covers-img/8-@1x.webp"
            alt="project-hero-view"
          />
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/5-@1x.webp 1x,
              ./img/section-covers-img/5-@2x.webp 2x
            "
            src="./img/section-covers-img/5-@1x.webp"
            alt="project-hero-view"
          />
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/6-@1x.webp 1x,
              ./img/section-covers-img/6-@2x.webp 2x
            "
            src="./img/section-covers-img/6-@1x.webp"
            alt="project-hero-view"
          />
        </li>
        <li class="project-item">
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/4-@1x.webp 1x,
              ./img/section-covers-img/4-@2x.webp 2x
            "
            src="./img/section-covers-img/4-@1x.webp"
            alt="project-hero-view"
          />
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/9-@1x.webp 1x,
              ./img/section-covers-img/9-@2x.webp 2x
            "
            src="./img/section-covers-img/9-@1x.webp"
            alt="project-hero-view"
          />
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/10-@1x.webp 1x,
              ./img/section-covers-img/10-@2x.webp 2x
            "
            src="./img/section-covers-img/10-@1x.webp"
            alt="project-hero-view"
          />
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/8-@1x.webp 1x,
              ./img/section-covers-img/8-@2x.webp 2x
            "
            src="./img/section-covers-img/8-@1x.webp"
            alt="project-hero-view"
          />
          <img
            loading="lazy"
            class="project-item-img"
            srcset="
              ./img/section-covers-img/4-@1x.webp 1x,
              ./img/section-covers-img/4-@2x.webp 2x
            "
            src="./img/section-covers-img/4-@1x.webp"
            alt="project-hero-view"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
