<section class="accordion container" id="faq">
  <h2 class="base-title">FAQ</h2>
  <div class="back">
    <ul class="faq-list-one accordion-container">
      <li class="faq-element-one ac">
        <div class="accordion-faq">
          <div class="wrap">
            <h3 class="faq-title-one ac-header">
              What programming languages are most often used in your project?
              <button class="faq-btn ac-trigger" type="button">
                <svg class="icon-faq-up" width="34" height="34">
                  <use href="./img/icons.svg/symbol-defs.svg#icon-arrow"></use>
                </svg>
              </button>
            </h3>
          </div>
          <div class="faq-description ac-panel">
            <p class="faq-content-one ac-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </div>
      </li>

      <li class="faq-element-one ac">
        <div class="accordion-faq">
          <div class="wrap">
            <h3 class="faq-title-one ac-header">
              What are the deadlines for the project?
              <button class="faq-btn ac-trigger" type="button">
                <svg class="icon-faq-up" width="34" height="34">
                  <use href="./img/icons.svg/symbol-defs.svg#icon-arrow"></use>
                </svg>
              </button>
            </h3>
          </div>
          <div class="faq-description ac-panel">
            <p class="faq-content-one ac-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </div>
      </li>

      <li class="faq-element-one ac">
        <div class="accordion-faq">
          <div class="wrap">
            <h3 class="faq-title-one ac-header">
              What payment methods do you accept?
              <button class="faq-btn ac-trigger" type="button">
                <svg class="icon-faq-up" width="34" height="34">
                  <use href="./img/icons.svg/symbol-defs.svg#icon-arrow"></use>
                </svg>
              </button>
            </h3>
          </div>
          <div class="faq-description ac-panel">
            <p class="faq-content-one ac-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </div>
      </li>
    </ul>

    <ul class="faq-list-two accordion-container">
      <li class="faq-element-two ac">
        <div class="accordion-faq">
          <div class="wrap">
            <h3 class="faq-title-two ac-header">
              How can I contact you?
              <button class="faq-btn ac-trigger" type="button">
                <svg class="icon-faq-up" width="34" height="34">
                  <use href="./img/icons.svg/symbol-defs.svg#icon-arrow"></use>
                </svg>
              </button>
            </h3>
          </div>
          <div class="faq-description ac-panel">
            <p class="faq-content-two ac-text">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </div>
      </li>

      <li class="faq-element-two ac">
        <div class="accordion-faq">
          <div class="wrap">
            <h3 class="faq-title-two ac-header">
              Do you provide advice or support?
              <button class="faq-btn ac-trigger" type="button">
                <svg class="icon-faq-up" width="34" height="34">
                  <use href="./img/icons.svg/symbol-defs.svg#icon-arrow"></use>
                </svg>
              </button>
            </h3>
          </div>
          <div class="faq-description ac-panel">
            <p class="faq-content-two ac-text">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </div>
      </li>

      <li class="faq-element-two ac">
        <div class="accordion-faq">
          <div class="wrap">
            <h3 class="faq-title-two ac-header">
              What does the process of developing a software product look like
              from idea to implementation?
              <button class="faq-btn ac-trigger" type="button">
                <svg class="icon-faq-up" width="34" height="34">
                  <use href="./img/icons.svg/symbol-defs.svg#icon-arrow"></use>
                </svg>
              </button>
            </h3>
          </div>
          <div class="faq-description ac-panel">
            <p class="faq-content-two ac-text">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
