<!-- <ul class="projects-list">
  <li class="project-item">
    <picture>
      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover1-tablet-desk_result.webp    1x,
          ../img/section-covers-images/cover1-tablet-desk@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 768px)"
        srcset="
          ../img/section-covers-images/cover1-tablet-desk.png    1x,
          ../img/section-covers-images/cover1-tablet-desk@2x.png 2x
        "
      />
      <source
        media="(min-width: 320px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover1_result.webp    1x,
          ../img/section-covers-images/cover1@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 320px)"
        srcset="
          ../img/section-covers-images/cover1.png    1x,
          ../img/section-covers-images/cover1@2x.png 2x
        "
      />
      <img
        width="282.29"
        height="162.94"
        loading="lazy"
        class="project-item-img"
        src="../img/section-covers-images/cover1_result.webp"
        alt="project-hero-view"
      />
    </picture>
  </li>
  <li class="project-item">
    <picture>
      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover2-tablet-desk_result.webp    1x,
          ../img/section-covers-images/cover2-tablet-desk@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 768px)"
        srcset="
          ../img/section-covers-images/cover2-tablet-desk.png    1x,
          ../img/section-covers-images/cover2-tablet-desk@2x.png 2x
        "
      />
      <source
        media="(min-width: 320px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover2_result.webp    1x,
          ../img/section-covers-images/cover2@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 320px)"
        srcset="
          ../img/section-covers-images/cover2.png    1x,
          ../img/section-covers-images/cover2@2x.png 2x
        "
      />
      <img
        width="282.29"
        height="162.94"
        loading="lazy"
        class="project-item-img"
        src="../img/section-covers-images/cover2_result.webp"
        alt="project-hero-view"
      />
    </picture>
  </li>
  <li class="project-item">
    <picture>
      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover3-tablet-desk_result.webp    1x,
          ../img/section-covers-images/cover3-tablet-desk@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 768px)"
        srcset="
          ../img/section-covers-images/cover3-tablet-desk.png    1x,
          ../img/section-covers-images/cover3-tablet-desk@2x.png 2x
        "
      />
      <source
        media="(min-width: 320px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover3_result.webp    1x,
          ../img/section-covers-images/cover3@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 320px)"
        srcset="
          ../img/section-covers-images/cover3.png    1x,
          ../img/section-covers-images/cover3@2x.png 2x
        "
      />
      <img
        width="282.29"
        height="162.94"
        loading="lazy"
        class="project-item-img"
        src="../img/section-covers-images/cover3_result.webp"
        alt="project-hero-view"
      />
    </picture>
  </li>
  <li class="project-item">
    <picture>
      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover4-tablet-desk_result.webp    1x,
          ../img/section-covers-images/cover4-tablet-desk@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 768px)"
        srcset="
          ../img/section-covers-images/cover4-tablet-desk.png    1x,
          ../img/section-covers-images/cover4-tablet-desk@2x.png 2x
        "
      />
      <source
        media="(min-width: 320px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover4_result.webp    1x,
          ../img/section-covers-images/cover4@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 320px)"
        srcset="
          ../img/section-covers-images/cover4.png    1x,
          ../img/section-covers-images/cover4@2x.png 2x
        "
      />
      <img
        width="282.29"
        height="162.94"
        loading="lazy"
        class="project-item-img"
        src="../img/section-covers-images/cover4_result.webp"
        alt="project-hero-view"
      />
    </picture>
  </li>
  <li class="project-item">
    <picture>
      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover5-tablet-desk_result.webp    1x,
          ../img/section-covers-images/cover5-tablet-desk@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 768px)"
        srcset="
          ../img/section-covers-images/cover5-tablet-desk.png    1x,
          ../img/section-covers-images/cover5-tablet-desk@2x.png 2x
        "
      />
      <source
        media="(min-width: 320px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover5_result.webp    1x,
          ../img/section-covers-images/cover5@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 320px)"
        srcset="
          ../img/section-covers-images/cover5.png    1x,
          ../img/section-covers-images/cover5@2x.png 2x
        "
      />
      <img
        width="282.29"
        height="162.94"
        loading="lazy"
        class="project-item-img"
        src="../img/section-covers-images/cover5_result.webp"
        alt="project-hero-view"
      />
    </picture>
  </li>
  <li class="project-item">
    <picture>
      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover6-tablet-desk_result.webp    1x,
          ../img/section-covers-images/cover6-tablet-desk@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 768px)"
        srcset="
          ../img/section-covers-images/cover6-tablet-desk.png    1x,
          ../img/section-covers-images/cover6-tablet-desk@2x.png 2x
        "
      />
      <source
        media="(min-width: 320px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover6_result.webp    1x,
          ../img/section-covers-images/cover6@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 320px)"
        srcset="
          ../img/section-covers-images/cover6.png    1x,
          ../img/section-covers-images/cover6@2x.png 2x
        "
      />
      <img
        width="282.29"
        height="162.94"
        loading="lazy"
        class="project-item-img"
        src="../img/section-covers-images/cover6_result.webp"
        alt="project-hero-view"
      />
    </picture>
  </li>
  <li class="project-item">
    <picture>
      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover7-tablet-desk_result.webp    1x,
          ../img/section-covers-images/cover7-tablet-desk@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 768px)"
        srcset="
          ../img/section-covers-images/cover7-tablet-desk.png    1x,
          ../img/section-covers-images/cover7-tablet-desk@2x.png 2x
        "
      />
      <source
        media="(min-width: 320px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover7_result.webp    1x,
          ../img/section-covers-images/cover7@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 320px)"
        srcset="
          ../img/section-covers-images/cover7.png    1x,
          ../img/section-covers-images/cover7@2x.png 2x
        "
      />
      <img
        width="282.29"
        height="162.94"
        loading="lazy"
        class="project-item-img"
        src="../img/section-covers-images/cover7_result.webp"
        alt="project-hero-view"
      />
    </picture>
  </li>
  <li class="project-item">
    <picture>
      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover8-tablet-desk_result.webp    1x,
          ../img/section-covers-images/cover8-tablet-desk@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 768px)"
        srcset="
          ../img/section-covers-images/cover8-tablet-desk.png    1x,
          ../img/section-covers-images/cover8-tablet-desk@2x.png 2x
        "
      />
      <source
        media="(min-width: 320px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover8_result.webp    1x,
          ../img/section-covers-images/cover8@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 320px)"
        srcset="
          ../img/section-covers-images/cover8.png    1x,
          ../img/section-covers-images/cover8@2x.png 2x
        "
      />
      <img
        width="282.29"
        height="162.94"
        loading="lazy"
        class="project-item-img"
        src="../img/section-covers-images/cover8_result.webp"
        alt="project-hero-view"
      />
    </picture>
  </li>
  <li class="project-item">
    <picture>
      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover9-tablet-desk_result.webp    1x,
          ../img/section-covers-images/cover9-tablet-desk@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 768px)"
        srcset="
          ../img/section-covers-images/cover9-tablet-desk.png    1x,
          ../img/section-covers-images/cover9-tablet-desk@2x.png 2x
        "
      />
      <source
        media="(min-width: 320px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover9_result.webp    1x,
          ../img/section-covers-images/cover9@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 320px)"
        srcset="
          ../img/section-covers-images/cover9.png    1x,
          ../img/section-covers-images/cover9@2x.png 2x
        "
      />
      <img
        width="282.29"
        height="162.94"
        loading="lazy"
        class="project-item-img"
        src="../img/section-covers-images/cover9_result.webp"
        alt="project-hero-view"
      />
    </picture>
  </li>
  <li class="project-item">
    <picture>
      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover10-tablet-desk_result.webp    1x,
          ../img/section-covers-images/cover10-tablet-desk@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 768px)"
        srcset="
          ../img/section-covers-images/cover10-tablet-desk.png    1x,
          ../img/section-covers-images/cover10-tablet-desk@2x.png 2x
        "
      />
      <source
        media="(min-width: 320px)"
        type="image/webp"
        srcset="
          ../img/section-covers-images/cover10_result.webp    1x,
          ../img/section-covers-images/cover10@2x_result.webp 2x
        "
      />
      <source
        type="image/png"
        media="(min-width: 320px)"
        srcset="
          ../img/section-covers-images/cover10.png    1x,
          ../img/section-covers-images/cover10@2x.png 2x
        "
      />
      <img
        width="282.29"
        height="162.94"
        loading="lazy"
        class="project-item-img"
        src="../img/section-covers-images/cover10_result.webp"
        alt="project-hero-view"
      />
    </picture>
  </li>
</ul> -->
