<header>
  <container>
    <a class="logo" href="../index.html"
      ><img
        srcset="
          ../img/header.img/image320.png    1x,
          ../img/header.img/image@2x320.png 2x
        "
        src="../img/header.img/image320.png"
        alt="jefferson"
        width="80"
        height="80" /><svg class="icon" width="84" height="19">
        <use href="../img/header.img/symbol-defs.svg#icon-jefferson"></use></svg
    ></a>
    <a class="menu-link">Menu</a>
    <button type="button" class="header-burger"> 
      <svg class="icon" width="28" height="28">
        <use href="../img/header.img/symbol-defs.svg#icon-menu-05"></use>
      </svg>
    </button>
    <button type="button" class="header-button">Order the project</button>
  </container>
</header>
