<header>
  <div class="container">
    <a class="logo" href="./index.html"
      ><img
        srcset="
          ./img/header.img/image320.png    1x,
          ./img/header.img/image@2x320.png 2x
        "
        src="./img/header.img/image320.png"
        alt="jefferson"
        width="80"
        height="80" /><svg class="icon" width="84" height="19">
        <use href="./img/header.img/symbol-defs.svg#icon-jefferson"></use></svg
    ></a>
    <a href="#" class="menu-link">Menu</a>
    <button type="button" class="header-burger">
      <svg class="icon" width="28" height="28">
        <use href="./img/header.img/symbol-defs.svg#icon-menu-05"></use>
      </svg>
    </button>
    <button type="button" class="header-button">Order the project</button>
  </div>
  <div class="modal">
    <button class="modal-button-close" type="button">
      <svg class="modal-svg" width="28" height="28">
        <use href="./img/header.img/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="nav-modal">
      <ul class="modal-list">
        <li class="modal-list-item">
          <a class="list-item-link" href="#about">About me</a>
        </li>
        <li class="modal-list-item">
          <a class="list-item-link" href="#">Benefits</a>
        </li>
        <li class="modal-list-item">
          <a class="list-item-link" href="#projects">Projects</a>
        </li>
        <li class="modal-list-item">
          <a class="list-item-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <a href="#" class="link header-button">Order the project</a>
  </div>
</header>
