<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="hero-section">
      <div class="hero-container">
        <h1 class="hero-title">
          Hello. I’m Fullstack developer Lloyd Jefferson.
        </h1>
      </div>
      <ul class="social-list">
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="social-icon" width="14" height="14">
              <use href="../img/icons.svg/symbol-defs.svg#icon-IG"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="social-icon" width="14" height="14">
              <use href="../img/icons.svg/symbol-defs.svg#icon-YT"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="social-icon" width="141 " height="14">
              <use href="../img/icons.svg/symbol-defs.svg#icon-TG"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://necrotic999.github.io/Project-portfolio/"
            target="_blank"
          >
            <svg class="social-icon" width="14" height="14">
              <use href="../img/icons.svg/symbol-defs.svg#icon-GH"></use>
            </svg>
          </a>
        </li>
        <p class="hero-text">
          <a class="hero-email" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </p>
      </ul>
    </section>
  </body>
</html>
