<section class="hero">
  <div class="container">
    <h1 class="hero-title animate__backInDown animate__animated">
      Hello.<br />
      I’m&nbsp;Fullstack developer Lloyd Jefferson.
    </h1>

    <ul class="social-list">
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          IG
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          >FB
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          >YT
        </a>
      </li>
      <li class="social-item">
        <a
          class="social-link"
          href="https://necrotic999.github.io/Project-portfolio/"
          target="_blank"
          >GH
        </a>
      </li>
      <li class="hero-text">
        <a class="hero-email" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
