<section class="project">
  <p class="project-section">Projects</p>
  <div class="container-projects">
    <div class="container-projects-main">
      <ul class="buttons-container-projects">
        <li class="button-project">#react</li>
        <li class="button-project">#js</li>
        <li class="button-project">#node-js</li>
        <li class="button-project">#git</li>
      </ul>
      <h2 class="title-project">
        Programming Across Borders: Ideas, Technologies, Innovations
      </h2>
      <a href="https://github.com" target="_blank" class="see-project"
        >See project</a
      >
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../img/projects/Petlove-tablet-desck1@1x.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="../img/projects/ReadJourney-tab-desk 1@1x.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="../img/projects/Register-tell1@1x.jpg" alt="" />
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
