<section id="projects" class="project">
  <div class="container">
    <div class="container-projects-main">
      <p class="project-name">Projects</p>
      <div class="swiper-container project-swiper-container" id="swiper">
        <div class="swiper-wrapper project-swiper-wrapper"></div>
        <!-- <div class="projects-btn-arrows">
          <div class="swiper-button-prev project-swiper-button-prev">
            <svg class="project-btn-arrow-prev">
              <use
                href="../img/icons.svg/symbol-defs.svg#icon-arrow-right2"
              ></use>
            </svg>
          </div>
          <div class="swiper-button-next project-swiper-button-next">
            <svg class="project-btn-arrow-next">
              <use href="../img/projects/symbol-defs.svg#icon-arrow1"></use>
            </svg>
          </div>
        </div> -->
        <div class="projects-wrapper-btn-arrows">
          <div class="swiper-button-prev-project projects-swiper-btn-prev">
            <svg class="arrow-icon-project" width="52" height="52">
              <use
                href="./img/projects/symbol-defs.svg#icon-arrow-project-right"
              ></use>
            </svg>
          </div>
          <div class="swiper-button-next-project projects-swiper-btn-next">
            <svg class="arrow-icon-project" width="52" height="52">
              <use
                href="./img/projects/symbol-defs.svg#icon-arrow-project-left"
              ></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
