<section class="project">
  <p class="is-hidden">Projects</p>
  <div class="container-projects">
    <div class="container-projects-main">
      <div class="buttons-container-projects">
        <button class="button-project">#react</button>
        <button class="button-project">#js</button>
        <button class="button-project">#node-js</button>
        <button class="button-project">#git</button>
      </div>
      <h2 class="title">
        Programming Across Borders: Ideas, Technologies, Innovations
      </h2>
      <a href="" target="_blank" class="see-project">See project</a>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- <ul class="photo-projects"></ul> -->
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
