<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper-reviews">
      <ul class="swiper-wrapper reviews-list js-reviews-list"></ul>
      <div class="button-container">
        <div class="swiper-btn-prev">
          <svg class="arr-btn-right">
            <use href="./img/icons/icons.svg#icon-arrow-prew"></use>
          </svg>
        </div>
        <div class="swiper-btn-next">
          <svg class="arr-btn-left">
            <use href="./img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
