<section id="work-together" class="work-together">
  <div class="container">
    <div class="work-together-itro">
      <a class="work-together-logo" href="./index.html">
        <picture>
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/work-together/portfolio_mobile/image.webp    1x,
              ./img/work-together/portfolio_mobile/image@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- Tablet screen/Desktop screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/work-together/portfolio_laptop_desktop/image.webp    1x,
              ./img/work-together/portfolio_laptop_desktop/image@2x.webp 2x
            "
            type="image/webp"
          />
          <!-- Default image for larger screens -->
          <img
            class="work-together-logo"
            src="./img/work-together/portfolio_mobile/image.webp"
            alt="jefferson"
            width="44"
            height="44"
            loading="lazy"
          />
        </picture>
      </a>
      <h2 class="work-together-title">
        Let’s <span class="work-together-title-span">work</span>
      </h2>
    </div>
    <h2 class="work-together-title">together</h2>

    <form action="#" class="work-together-form" id="work-form">
      <div class="form-item">
        <input
          class="work-together-input _req _email"
          id="formEmail"
          type="text"
          name="email"
          placeholder="clients@gmail.com"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          title="Enter your email"
        />
      </div>
      <div class="form-item">
        <input
          class="work-together-input _req"
          type="text"
          name="userComment"
          id="formComment"
          placeholder="comment"
        />
      </div>
      <button class="work-together-btn" type="submit">Send</button>
    </form>

    <address class="worwk-together-adress">
      <ul class="worwk-together-adress-list">
        <li>
          <a
            class="worwk-together-adress-link"
            href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li>
          <a class="worwk-together-adress-link" href="tel:+3801111111111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>

        
    <div id="modalWindow" style="display: none">
      <div class="modal-content">
        <span class="close">
          <svg class="close-svg" width="24" height="24">
            <use href=#></use>
          </svg>
        </span>
        <h2>Thank you for your interest in cooperation!</h2>
        <p>
          The manager will contact you shortly to discuss further details and
          opportunities for cooperation. Please stay in touch.
        </p>
      </div>
  </div>
</section>
